/*Min Max Clamp stuff*/
.card-holder{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
  .visual {
    height: 100px;
    
   /* aspect-ratio: 16 / 9;*/
    background: #000000 ;
    margin: 0.5rem 0;
    padding: 1rem;
  }
  
  .card {
    padding: 1rem; 
    min-width: 520px;
  }
  .card ul{
    list-style-type:none;
  }
  #card1 {
    margin-top: 10px; 
  }
  #card2 {
    margin-top: 100px; 
  }
  #card3 {
    width: clamp(23ch, 20%, 46ch);    
  }

  .card2 {
    align-items: flex-start;
    align-content: flex-start;
    flex-direction:row;
    align-items: flex-start;
    background: #00A3F6;
    margin: 2.5rem;
    padding: 0; 
    width: 600px;
    height: 200px;
    display: block;
  }
  .card2::after {
        content: "+";
        background: #00A3F6;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        bottom: -2.5rem;
        right: -2.5rem;
        font-size: 3.5rem;
        line-height: 0.7;
        text-indent: .6rem;
    }
    .card2::after:hover {
        background: #265b75;
    }

    .card-left {
        margin: 0rem;
        background: #265b75;
        padding: 0; 
        min-width: 200px;
        display: block;
      }
      .card-right {
        margin: 0rem;
        background: #265b75;
        min-width: 100px;
        padding: 0; 
        width: 50%;
        display: block;
      }
