@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf') format("truetype");
  }
  @font-face {
    font-family: 'OswaldLite';
    src: url('../fonts/Oswald/static/Oswald-Light.ttf') format("truetype");
    color: blue;
  }
body{
    background-color: black;
    color: #ffffff;
    font-family: "Oswald", Arial;

}
h1{
    font-family: "OswaldLite";
    
}
