html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}


@font-face {
    
    ascent-override: 125%;
    descent-override: 25%;
    line-gap-override: 0%;
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf') format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: 'OswaldLite';
    src: url('../fonts/Oswald/static/Oswald-Light.ttf') format("truetype");
  }
body{
    background-color: #353434;
    color: #ffffff;
    font-family: "OswaldLite", Arial;

}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a{
  color: #ffffff;
}
ul{
    display: block;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
h1{
    font-family: "Oswald";
    
}
section{
    
    content-visibility: auto;
    contain-intrinsic-size: 1000px; /* Acts as a placeholder size in lieu of rendered content.*/
    /*https://web.dev/content-visibility/*/
  }


  #gallery {
    background-color: #494949;

    scroll-snap-type: x mandatory;
    width: 310px;
    overflow-x: scroll;
    display: flex;
    margin: auto;
    border: 1px solid #141414;
    padding: 10px;
    resize: both;
  }
  
  #gallery img {
     scroll-snap-align: center;
     border: 1px solid #141414;
     margin: 5px;
  }

  ::-webkit-resizer {
    border: 2px solid #141414;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 2px 5px rgb(44, 44, 44);
    outline: 2px dashed rgb(97, 100, 97);
}