/*Min Max Clamp stuff*/
.card-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  .visual {
    height: 100px;
    
   /* aspect-ratio: 16 / 9;*/
    background: #000000 ;
    margin: 0.5rem 0;
    padding: 1rem;
  }
  
  .card {
    flex-direction:column;
   
    background-color: #8a8585;
    padding: 1rem;
    margin: auto;
    border: 1px solid #141414;
    padding: 10px;  
    min-width: 200px;
  }
  #card1 {
    width: clamp(23ch, 20%, 46ch);    
  }
  #card2 {
    width: clamp(23ch, 20%, 46ch);   
  }
#card2 p {
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}